<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= title %></title>
    <meta name="keywords" content="<%= title %>">
    <meta name="description" content="<%= title %>">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div id="app">
</div>

<script>
    if (!(navigator.userAgent.indexOf("Firefox") > 0 || navigator.userAgent.indexOf("WebKit") > 0)) {
        alert('推荐使用最新版的谷歌浏览器、360安全浏览器（极速模式）、360极速浏览器（极速模式）、搜狗浏览器（高速模式）、火狐浏览器、......');
    }
</script>
</body>
</html>