.idea/
node_modules

public/dist
views/

client/**/*.js
client/**/*.js.map

controler/**/*.js
controler/**/*.js.map

entity/**/*.js
entity/**/*.js.map

migration/**/*.js
migration/**/*.js.map

route/**/*.js
route/**/*.js.map

subscriber/**/*.js
subscriber/**/*.js.map

app.js
app.js.map

auth.js
auth.js.map

initDataBase.js
initDataBase.js.map

utils.js
utils.js.map

config.js
config.js.map

webpack.config.js
webpack.config.js.map

package-lock.json

