<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页面丢失了</title>
<link href="/dist/platform.f627607dcc51d412560b.css" rel="stylesheet"><link href="/dist/platformLogin.f627607dcc51d412560b.css" rel="stylesheet"><link href="/dist/siteEnd.f627607dcc51d412560b.css" rel="stylesheet"><link href="/dist/siteEndLogin.f627607dcc51d412560b.css" rel="stylesheet"><link href="/dist/siteFront.f627607dcc51d412560b.css" rel="stylesheet"></head>
<body>
<h1>大写的404</h1>
<h3>你访问的页面丢失了</h3>
<script type="text/javascript" src="/dist/platform.bundle.js"></script><script type="text/javascript" src="/dist/platformLogin.bundle.js"></script><script type="text/javascript" src="/dist/siteEnd.bundle.js"></script><script type="text/javascript" src="/dist/siteEndLogin.bundle.js"></script><script type="text/javascript" src="/dist/siteFront.bundle.js"></script></body>
</html>