<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>678平台管理</title>
<link href="/dist/2.1ea4bda311cfdcd338aa.css" rel="stylesheet"><link href="/dist/22.1ea4bda311cfdcd338aa.css" rel="stylesheet"></head>
<body>
<div id="app">
    <router-view></router-view>
</div>

<script type="text/javascript" src="/dist/manifest.bundle.js"></script><script type="text/javascript" src="/dist/element-ui.a203b1baafd813f108b6.js"></script><script type="text/javascript" src="/dist/vue.af0460b4fca7fb6d0b40.js"></script><script type="text/javascript" src="/dist/platform.cceefc044fa0cb8fbc0e.js"></script></body>
</html>