<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>678平台管理</title>
<link href="/dist/siteEndLogin.04b6bee0b407ba9401f3.css" rel="stylesheet"></head>
<body>

<div class="container">
    <section id="content">
        <form action="http://demo.cssmoban.com/cssthemes5/ccps_40_bov/index.html">
            <h1>678分站后台登录</h1>
            <div>
                <input type="text" placeholder="邮箱" required="" id="username">
            </div>
            <div>
                <input type="password" placeholder="密码" required="" id="password">
            </div>
            <div class="">
                <span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>
            </div>
            <div>
                <!-- <input type="submit" value="Log in" /> -->
                <input type="submit" value="登录" class="btn btn-primary" id="js-btn-login">
                <a href="http://demo.cssmoban.com/cssthemes5/ccps_40_bov/index.html#">忘记密码?</a>
                <!-- <a href="#">Register</a> -->
            </div>
        </form><!-- form -->
    </section><!-- content -->
</div>

<script type="text/javascript" src="/dist/siteEndLogin.bundle.js"></script></body>
</html>