<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>678分站前端</title>
<link href="/dist/2.1ea4bda311cfdcd338aa.css" rel="stylesheet"><link href="/dist/20.1ea4bda311cfdcd338aa.css" rel="stylesheet"></head>
<body>
<div id="app">
    <el-container style="height: inherit;">
        <el-header height="50px" style="padding:0;">
            <header-menu></header-menu>
        </el-header>
        <el-container style="overflow: hidden;">
            <el-aside width="260px" style="border-right: solid 1px #e6e6e6;">
                <side-menu></side-menu>
            </el-aside>
            <el-main>
                <router-view></router-view>
            </el-main>
        </el-container>
    </el-container>
</div>

<script type="text/javascript" src="/dist/manifest.bundle.js"></script><script type="text/javascript" src="/dist/element-ui.a203b1baafd813f108b6.js"></script><script type="text/javascript" src="/dist/vue.af0460b4fca7fb6d0b40.js"></script><script type="text/javascript" src="/dist/siteFront.83fdbb952566585673a5.js"></script></body>
</html>