html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    max-height: 100%;
    width: auto;
    /*min-width: 1200px;*/
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

#app{
    font-size: 15px;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
