html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    max-height: 100%;
    width: auto;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

#app{
    font-size: 15px;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

@keyframes animate-cloud{
    from {
        background-position: 600px 100%;
    }
    to {
        background-position: 0 100%;
    }
}
.login-box{
    background:url(cloud.jpg) 0 bottom repeat-x  #049ec4;
    animation: animate-cloud 20s linear infinite;
    width: auto;
    height: 100%;
    position: relative;
    z-index: 0;
}
.login-box .content {
    background: #f9f9f9;
    background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    box-shadow: 0 1px 0 #fff inset;
    border: 1px solid #c4c6ca;
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    top: 136px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 400px;
}
.login-box .content h1 {
    color: #7E7E7E;
    font: bold 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 0 0 30px;
}
.login-box .content h1:before,
.login-box .content h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 36px;
    width: 27%;
}
.login-box .content h1:after {
    background: rgb(126,126,126);
    background: linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    right: 12px;
}
.login-box .content h1:before {
    background: rgb(126,126,126);
    background: linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    left: 12px;
}
.login-box .content:after,
.login-box .content:before {
    background: #f9f9f9;
    background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    border: 1px solid #c4c6ca;
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%;
}
.login-box .content:after {
    transform: rotate(3deg);
    top: 0;
    z-index: -1;
}
.login-box .content:before {
    transform: rotate(-3deg);
    top: 0;
    z-index: -1;
}
.login-box .content form {
    padding: 0 30px 0 0;
}

.header-menu {
    margin: 0;
    height: inherit;
    background: #1C2326;
    border-radius: 2px;
}
.header-menu .el-col{
    line-height: 50px;
    color: white;
}
.header-menu .menu-btn {
    display: inline-block;
    width: 50px;
    text-align: center;
    cursor: pointer;
    border-right: 2px solid #3E4447;
}
.header-menu .menu-btn i{
    vertical-align: middle;
    font-size: 22px;
}
.header-menu .home {
    display: inline-block;
    padding-left: 6px;
}
.header-menu .home i, .header-menu .user-funds i, .header-menu .user-role i{
    position: relative;
    top: 3px;
    font-size: 22px;
}
.header-menu a{
    color: white;
    text-decoration: none;
    line-height: 50px;
}
.header-menu .router-link-exact-active{
    color: #a7fb25;
}
.header-menu .user-funds {
    text-align: center;
}
.header-menu .user-role {
    text-align: right;
    padding-right: 20px;
}
.header-menu .message, .header-menu .logout, .header-menu .logon, .header-menu .login{
    cursor: pointer;
}


.el-main{
    padding: 4px;
}

.el-aside{
    transition: margin-left 0.2s;
}
.el-aside::-webkit-scrollbar{
    display: none;
}
.el-popover {
    max-height: 96%;
    overflow-y: auto;
    overflow-x: hidden;
}
.popover-message{
    max-width: 360px;
}
.message-badge{
    animation: blink 1s linear infinite;
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@media only screen and (max-width: 991px){
    .login-box .content{
        max-width: 92%;
    }

    .el-container{
        position: relative;
    }

    .el-aside {
        position: absolute;
        z-index: 100;
        height: 100%;
        overflow: auto;
        background: #fff;
        box-shadow: 6px 1px 5px #888888;
        margin-left: -230px;
    }
    .el-aside:before {
        position: fixed;
        width: 0;
        height: 100%;
        content: '';
        top: 0;
        background: rgba(49, 46, 46, 0.3);
    }
    .el-aside .el-menu-vertical-demo:before{
        position: fixed;
        width: 220px;
        height: 100%;
        content: '';
        background: #ffffff;
    }
    .show-side-menu{
        margin-left: 0;
    }
    .show-side-menu:before{
        width: 100%;
    }

    .el-dialog{
        width: 98%!important;
    }

    .el-popover {
        box-sizing: border-box;
        padding: 6px;
        max-width: 98%!important;
    }

    .el-message-box{
        max-width: 98%;
    }

    .el-pagination .el-pager{
        display: block;
    }

    .el-tooltip__popper{
        max-width: 90%;
    }

    .hidden-sm-and-down{
        display: none!important;
    }
}

@media only screen and (min-width: 992px){
    .hidden-sm-and-up {
        display: none!important;
    }
}

