html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    max-height: 100%;
    width: auto;
    min-width: 1200px;
    font-family: PingFangSC,helvetica neue,hiragino sans gb,arial,microsoft yahei ui,microsoft yahei,simsun,sans-serif;
}

#app{
    font-size: 16px;
    padding: 3px;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
